// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.4.1
// MIT License

$track-color: #eceff1;
$thumb-color: #8d959c;

$thumb-radius: 50%;
$thumb-height: 15px;
$thumb-width: 15px;
$thumb-shadow-size: 0px;
$thumb-shadow-blur: 0px;
$thumb-shadow-color: rgba(0, 0, 0, 0.2);
$thumb-border-width: 0px;
$thumb-border-color: #eceff1;

$track-width: 100%;
$track-height: 7px;
$track-shadow-size: 1px;
$track-shadow-blur: 1px;
$track-shadow-color: rgba(0, 0, 0, 0.2);
$track-border-width: 0px;
$track-border-color: #cfd8dc;

$track-radius: 2px;
$contrast: 5%;

@define-mixin shadow $shadow-size $shadow-blur $shadow-color {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color,
    0 0 $shadow-size lighten($shadow-color, 5%);
}

@define-mixin track {
  cursor: pointer;
  height: $track-height;
  transition: all 0.2s ease;
  width: $track-width;
}

@define-mixin thumb {
  @mixin shadow $thumb-shadow-size $thumb-shadow-blur $thumb-shadow-color;
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  cursor: pointer;
  height: $thumb-height;
  width: $thumb-width;
}

[type='range'] {
  -webkit-appearance: none;
  margin: calc($thumb-height / 2) 0;
  width: $track-width;

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
  }

  &::-webkit-slider-runnable-track {
    @mixin track;
    @mixin shadow $track-shadow-size $track-shadow-blur $track-shadow-color;
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @mixin thumb;
    -webkit-appearance: none;
    margin-top: calc(
      ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2)
    );
  }

  &::-moz-range-track {
    @mixin track;
    @mixin shadow $track-shadow-size $track-shadow-blur $track-shadow-color;
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @mixin thumb;
  }

  &::-ms-track {
    @mixin track;
    background: transparent;
    border-color: transparent;
    border-width: calc($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    @mixin shadow $track-shadow-size $track-shadow-blur $track-shadow-color;
    background: darken($track-color, $contrast);
    border: $track-border-width solid $track-border-color;
    border-radius: calc($track-radius * 2);
  }

  &::-ms-fill-upper {
    @mixin shadow $thumb-shadow-size $thumb-shadow-blur $thumb-shadow-color;
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: calc($track-radius * 2);
  }

  &::-ms-thumb {
    @mixin thumb;
    margin-top: 0;
  }
}
