/*
  Styling Cross-Browser Compatible Range Inputs with Sass
  Github: https://github.com/darlanrod/input-range-sass
  Author: Darlan Rod https://github.com/darlanrod
  Version 1.4.1
  MIT License
*/

/*
  todo: replace css-apply-rule
*/

:root {
  --track-color: #eceff1;
  --thumb-color: #8d959c;
  --thumb-radius: 50%;
  --thumb-height: 15px;
  --thumb-width: 15px;
  --thumb-shadow-size: 0px;
  --thumb-shadow-blur: 0px;
  --thumb-shadow-color: rgba(0, 0, 0, 0.2);
  --thumb-border-width: 0px;
  --thumb-border-color: #eceff1;
  --track-width: 100%;
  --track-height: 7px;
  --track-shadow-size: 1px;
  --track-shadow-blur: 1px;
  --track-shadow-color: rgba(0, 0, 0, 0.2);
  --track-border-width: 0px;
  --track-border-color: #cfd8dc;
  --track-radius: 2px;
  --contrast: 5%;

  --thumb-shadow: {
    box-shadow: var(--thumb-shadow-size) var(--thumb-shadow-size) var(--thumb-shadow-blur)
        var(--thumb-shadow-color),
      0 0 var(--thumb-shadow-size) color(var(--thumb-shadow-color) tint(5%));
  }

  --track-shadow: {
    box-shadow: var(--track-shadow-size) var(--track-shadow-size) var(--track-shadow-blur)
        var(--track-shadow-color),
      0 0 var(--track-shadow-size) color(var(--track-shadow-color) tint(5%));
  }

  --track: {
    cursor: pointer;
    height: var(--track-height);
    transition: all 0.2s ease;
    width: var(--track-width);
  }

  --thumb : {
    @apply --track-shadow;
    background: var(--thumb-color);
    border: var(--thumb-border-width) solid var(--thumb-border-color);
    border-radius: var(--thumb-radius);
    cursor: pointer;
    height: var(--thumb-height);
    width: var(--thumb-width);
  }
}

[type='range'] {
  -webkit-appearance: none;
  margin: calc(var(--thumb-height) / 2) 0;
  width: var(--track-width);

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: color(var(--track-color) tint(var(--contrast)));
    }

    &::-ms-fill-lower {
      background: var(--track-color);
    }

    &::-ms-fill-upper {
      background: color(var(--track-color) tint(var(--contrast)));
    }
  }

  &::-webkit-slider-runnable-track {
    @apply --track;
    @apply --track-shadow;
    background: var(--track-color);
    border: var(--track-border-width) solid var(--track-border-color);
    border-radius: var(--track-radius);
  }

  &::-webkit-slider-thumb {
    @apply --thumb;
    -webkit-appearance: none;
    margin-top: calc(
       ((var(--track-border-width) * (-2) + var(--track-height)) / 2) - (var(
              --thumb-height
            ) / 2)
    );
  }

  &::-moz-range-track {
    @apply --track;
    @apply --track-shadow;
    background: var(--track-color);
    border: var(--track-border-width) solid var(--track-border-color);
    border-radius: var(--track-radius);
  }

  &::-moz-range-thumb {
    @apply --thumb;
  }

  &::-ms-track {
    @apply --track;
    background: transparent;
    border-color: transparent;
    border-width: calc(var(--thumb-height) / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    @apply --track-shadow;
    background: color(var(--track-color) shade(var(--contrast)));
    border: var(--track-border-width) solid var(--track-border-color);
    border-radius: calc(var(--track-radius) * 2);
  }

  &::-ms-fill-upper {
    @apply --thumb-shadow;
    background: var(--track-color);
    border: var(--track-border-width) solid var(--track-border-color);
    border-radius: calc(var(--track-radius) * 2);
  }

  &::-ms-thumb {
    @apply --thumb;
    margin-top: 0;
  }
}
