@import './player.css';
@import './helpers.css';

.file-selector {
  margin-top: 15px;
}

main {
  padding: 0 10px;
  max-width: 700px;
  margin: 0 auto;
}

.shell-spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
