.player {
  margin-top: 15px;
}

.player__controls--right {
  float: right;
}

.player__controls--left {
  float: left;
  vertical-align: middle;
}

.player__process-bar {
  width: 100%;
}

#audio-file {
  visibility: hidden;
  position: absolute;
}

.file-selector {
  margin-top: 15px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

main {
  padding: 0 10px;
  max-width: 900px;
  margin: 0 auto;
}

.player__button {
  padding: 3px;
  margin: 0;
  display: inline-block;
  border: none;
  background: transparent;
  cursor: pointer;
}

.player__button:focus {
  outline: 0;
}

.player__button svg {
  padding: 1px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.player__button:focus svg {
  border: 1px solid #3da6f1;
}

.player__loop--inactive {
  opacity: 0.4;
}

.player__controls {
  overflow: hidden;
}

.player__volume {
  width: 60px;
}
