.player {
  margin-top: 15px;
}

.player__controls--right {
  float: right;
}

.player__controls--left {
  float: left;
  vertical-align: middle;
}

.player__process-bar {
  width: 100%;
}

#audio-file {
  visibility: hidden;
  position: absolute;
}

.file-selector {
  margin-top: 15px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

main {
  padding: 0 10px;
  max-width: 900px;
  margin: 0 auto;
}

.player__button {
  padding: 2px;
  margin: 0 3px;
  display: inline-block;
  border: none;
  background: transparent;
  cursor: pointer;
}

.player__button:focus {
  outline: 0;
}

.player__button:focus::before {
  border: 1px solid #3da6f1;
}

.player__button::before {
  width: 24px;
  height: 24px;
  background-size: contain;
  border: 1px solid transparent;
  border-radius: 3px;
  display: block;
  padding: 0;
  content: ' ';
}

.player__button--play::before {
  background-image: url(../icons/play.svg);
}

.player__button--pause::before {
  background-image: url(../icons/pause.svg);
}

.player__button--prev::before {
  background-image: url(../icons/skip-back.svg);
}

.player__button--next::before {
  background-image: url(../icons/skip-forward.svg);
}

.player__loop-toggle::before {
  background-image: url(../icons/repeat.svg);
  opacity: 0.2;
}

.player__loop-toggle-checked.player__loop-toggle::before {
  opacity: 1;
}

.player__controls {
  overflow: hidden;
}
