<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <audio class="player__audio"></audio>
  <div id="root">
  </div>
</body>

</html>
