<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link rel="stylesheet" href="https://unpkg.com/mobi.css@3.1.1/dist/mobi.min.css">
</head>

<body>
  <audio class="player__audio"></audio>
  <div id="root">
  </div>
</body>

</html>
